datasets/
downloads/
Papers/
.idea
Repo_Details.md
__pycache__/
.ipynb_checkpoints/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.brf
*.pdf
*.mp4
*.wav
*.ply
src/audio/spectograms/
src/audio/normalized_spectograms/
src/audio/standardized_spectograms/
src/data/spectograms/
src/mesh/animation_visualization/
src/mesh/shape_params/
src/mesh/cropped_shape_params/
src/model/data/
src/model/saved/
