downloaded_datasets/
downloads/
Papers/
.idea
Repo_Details.md
__pycache__/
.ipynb_checkpoints/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.brf
*.pdf
*.mp4
*.wav
*.ply
src/audio/trimmed_samples/
src/audio/cropped_samples/
src/audio/all_samples/
src/audio/samples/
src/mesh/animation_visualization/
src/mesh/shape_params/
src/mesh/aligned/
src/mesh/all_aligned/
src/mesh/all_aligned_backup/
src/mesh/unaligned/
src/model/data/
src/model/saved/
*.png
*.npy
*.txt
